
<main>
<div class="row">
    <div class="col-md-8">
        <!-- Display the current active post start -->
        <span class="col-md-8 margin font-size">Active post:</span>
        <span class="col-md-8 margin-left font-size color-red">{{ currentActivePost > 0 ? currentActivePost : '' }}</span>
        <!-- Display the current active post end -->
    </div>
</div>
<!-- Display the squares divided into 10 rows and 10 columns start -->
    <div class="container">
        <div class="row" *ngFor="let post of (posts$ | async).posts; let i = index">
            <ng-container *ngFor="let childPosts of post;let j = index">
                <div
                [ngClass]="selectedIndex.toString() === (i + 1) + '.' + (j + 1) 
                ? 'col-sm border-red clickable-margin scroll'
                : 'col-sm border clickable-margin scroll'"
                [id]="(i + 1) + '.' + (j + 1)"
                (click)="onTogglePostData(childPosts, (i + 1) + '.' + (j + 1))">
                    <ng-container *ngIf="selectedIndex.toString() === (i + 1) + '.' + (j + 1)">
                        {{ (activePost$ | async)?.posts?.activePost[selectedIndex] ? selectedValue : '' }}
                    </ng-container>
                    <ng-container *ngIf="selectedIndex.toString() !== (i + 1) + '.' + (j + 1)">
                        {{ childPosts.title}}
                    </ng-container>
                </div>
            </ng-container>

        </div>
    </div>
</main>